# =========================
# Caché de Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Entornos Virtuales
# =========================
venv/
env/
.env/

# =========================
# Editor de Código
# =========================
.vscode/

# =========================
# Archivos de Compilación (.exe)
# =========================
build/
dist/
*.spec